<%- include("../partials/header", {title: "Gestion des classes"}) %>

<div class=" py-3">
    <h2 class="text-center mb-3">Gestion des Classes</h2>

    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 py-0 px-0">
        <div class="col col-md-4 col-lg-4 py-0 px-0">
            <%- include('./form-add', {periodes : ["2023-2024", "2024-2025"]}) %>
        </div>
        
        <main class="col col-md-8 col-lg-8  py-0 px-0">
            <%- include('./list', {classes : locals.classes, nombreEtudiant : locals.nombre}) %>
        </main>
    </div>
</div>


<%- include("../partials/footer", {}) %>