<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap5/css/bootstrap.min.css">
    <title>EX-SORT | <%= title %></title>
</head>
<body>
   
    <header class="bg-warning">
        <nav class="navbar navbar-expand-sm bg-ligth">
            <div class="container">
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="menu" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Acceuil</a>
                        </li>
                        <% if (!locals.connected) { %>
                        <li class="nav-item">
                            <a href="/client/signup" class="nav-link">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                            <a href="/client/login" class="nav-link">Se connecter</a>
                        </li>
                        <% } else { %>
                        <li class="nav-item">
                            <a href="/classe" class="nav-link">Gestion des Classes</a>
                        </li>
                        <li class="nav-item">
                            <a href="/salle" class="nav-link">Gestion des Salles</a>
                        </li>
                        <li class="nav-item">
                            <a href="/examen" class="nav-link">Gestion des Examens</a>
                        </li>
                    
                        <li class="nav-item" >
                            <a href="/filiere" class="nav-link">G - Filières</a>
                        </li>
                        <li class="nav-item" >
                            <a href="/matter" class="nav-link">G - Matières</a>
                        </li>
                        
                        <li class="nav-item">
                            <form action="/client/logout" method="post">
                                <button type="submit" class="btn nav-item">Se Déconnecter<span>(Compte <%= user.username %>)</span></button>
                            </form>
                        </li>
                       
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   