<table class="table table-bordered table-hover table-primary table-striped table-striped-columns">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Eva</td>
            <td>Kodet</td>
            <td>25</td>
        </tr>
        <tr>
            <td>ted</td>
            <td>Jim</td>
            <td>21</td>
        </tr>
        <tr>
            <td>loic</td>
            <td>magnu</td>
            <td>21</td>
        </tr>
    </tbody>
</table>