<form class="form" action="/salle/add" method="post" >
    <%- include("../components/input", {type: 'text', name: 'name'}) %>
    <%- include("../components/input", {type: 'number', name: 'capacity'}) %>
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" type="submit">Ajouter une Classe</button>
    </div>
</form>