<form class="form" action="/filiere/add" method="post" >
    <%- include("../components/input", {type: 'text', name: 'libelle'}) %>
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" type="submit">Nouvelle filière</button>
    </div>
</form>